.col-md-4 {
	color:blue;
	height:300px;
}
.col-md-4:hover{
    background-color: #FFD640;
}
.col-md-4 h3 {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
h3 {
	font-size:14px;
    text-align:center;
}